<div class="wrapper__products">
    {{#if products}}
        <h2 class="basket-logo">{{basket_page_title}}: </h2>
        {{#each products}}
            <div class="wrapper__products-item" data-price="{{this.price}}" data-name="{{this.name}}" id="{{this.id}}">
                <img src="/images/{{this.file_name}}" alt="{{this.name}}">
                <div class="wrapper__products-item-name">
                    {{this.name}}
                </div>
                <div class="wrapper__products-item-price">
                    <string>{{this.price}} грн</string>
                </div>
                <div class="wrapper__products-item-count">
                    <label for="count-product">{{../global_count}}: </label>
                    <input type="number" value="1" min="1" step="1" id="count-product" class="count-product-input" data-name="{{this.name}}" data-price="{{this.price}}" data-idProduct="{{this.id}}" required>
                </div>
                <a href="/products/{{this.id}}" class="wrapper__products-item-link">
                    <button class="wrapper__products-item-link-about-btn">{{../global_more_details}}</button>
                </a>
                <button class="wrapper__products-item-remove" data-product="{{this.id}}" data-price="{{this.price}}">{{../global_remove_from_basket}}</button>
            </div>
        {{/each}}
        <h2 class="sum-products">{{global_total}}: <strong class="sum-products-value">{{sum}}</strong> грн</h2>
    {{else}}
        <h2>{{basket_page_no_content_logo}}</h2>
    {{/if}}
</div>
{{#if products}}
<h3 class="buy-form-description">{{basket_page_buy_form_title}}</h3>

<form class="buy-form" id="buy-form">
    <div class="wrapper__buy-form-radio">
        <p>
            <strong>{{basket_page_your_name_lastname_logo}}</strong>
        </p>
        <input type="text" placeholder="{{global_your_firstname}}:" id="first_name" required>
        <input type="text" placeholder="{{global_your_lastname}}:" id="last_name" required>
        <p>
            <strong>{{basket_page_contact_logo}}</strong>
        </p>
        <input type="radio" id="contact-phone"
               name="contact" value="contact-phone" checked>
        <label for="contact-phone">{{global_phone}}</label>
        <input type="text" id="contact-phone-input" placeholder="{{global_phone}}:">

        <input type="radio" id="contact-email"
               name="contact" value="email">
        <label for="contact-email">{{global_email}}</label>
        <input type="email" id="contact-email-input" placeholder="{{global_email}}:">


        <input type="radio" id="contact-another"
               name="contact" value="contact-another">
        <label for="contact-another">{{basket_page_another_method_logo}}</label>
        <input type="text" id="contact-another-input" placeholder="{{global_another}}:">

        <input type="text" id="contact-remark" placeholder="{{basket_page_note_logo}}:">
    </div>
    <button type="submit">{{global_order}}</button>
</form>
{{/if}}

