{{#if rubrics}}
  <div class="wrapper__rubrics mt-50">
    <h2>{{global_rubrics}}:</h2>
    {{#each rubrics}}
      {{#if this.active}}
        <a href="/products/by-rubrics/{{this.id}}">
          <button class="wrapper__rubrics-btn-active mt-20">{{this.name}}</button>
        </a>
      {{else}}
        <a href="/products/by-rubrics/{{this.id}}">
          <button class="wrapper__rubrics-btn mt-20">{{this.name}}</button>
        </a>
      {{/if}}
    {{/each}}
  </div>
{{/if}}

{{#if products}}
<div class="wrapper__filters">
    <form class="wrapper__filters-form">
        <select name="select__available" id="select__available">
            <option value="all">{{global_all}}</option>
            <option value="available">{{global_which_available}}</option>
            <option value="not_available">{{global_which_not_available}}</option>
        </select>
        <div class="wrapper__filters-price-inputs">
            <span class="wrapper__filters-price-span">{{global_filters_price_from}}</span>
            <input type="number" placeholder="Від" min="{{minProductsPrice}}" max="{{maxProductsPrice}}" step="0.01" class="wrapper__filters-price-inputs-from" value="{{minProductsPrice}}">
            <input type="range" min="{{minProductsPrice}}" max="{{maxProductsPrice}}" class="wrapper__filters-range-input-from" step="0.01" value="{{minProductsPrice}}">

            <span class="wrapper__filters-price-span">{{global_filters_price_to}}</span>
            <input type="number" placeholder="До" min="{{minProductsPrice}}" max="{{maxProductsPrice}}" step="0.01" class="wrapper__filters-price-inputs-to" value="{{maxProductsPrice}}">
            <input type="range" min="{{minProductsPrice}}" max="{{maxProductsPrice}}" class="wrapper__filters-range-input-to" step="0.01" value="{{maxProductsPrice}}">
        </div>
        <button type="submit" class="wrapper__filters-form-submit">{{global_apply_filters}}</button>
    </form>
</div>
<button class="show-filters-btn">{{global_filters}}</button>
{{/if}}

<div class="wrapper__products" data-type="{{type}}" data-rubric="{{rubric_id}}">
    {{#if products}}
        {{#each products}}
            <div class="wrapper__products-item">
                <a href="/products/{{this.id}}" class="wrapper__products-item-link">
                    <div class="wrapper__products-item-content">
                        <img src="/images/{{this.file_name}}" alt="Зображення">
                        {{#if this.translateTitle}}
                          <h2 class="wrapper__products-item-content-name">{{this.translateTitle}}</h2>
                        {{else}}
                          <h2 class="wrapper__products-item-content-name">{{this.name}}</h2>
                        {{/if}}
                        <h4 class="wrapper__products-item-content-name">{{this.type}}</h4>
                        {{#if this.available}}
                            <h4 class="wrapper__products-item-content-name">{{../global_available}}</h4>
                        {{else}}
                            <h4 class="wrapper__products-item-content-name">{{../global_not_available}}</h4>
                        {{/if}}
                        <p class="wrapper__products-item-content-price">{{../global_price}}: <strong>{{this.price}} грн</strong></p>
                    </div>
                </a>
              {{#if this.partner}}
                <strong class="product-from-partner-or-admin text-center">{{../global_product_from_zolotar_partner}}</strong>
              {{else}}
                <strong class="product-from-partner-or-admin text-center">{{../global_product_from_zolotar}}</strong>
              {{/if}}
                {{#if this.inBasket}}
                    <button class="wrapper__product-add-to-basket-btn" style="background-color: #fff; color: #000;">
                        <strong>{{../global_already_in_basket}}</strong>
                    </button>
                {{else}}
                    <button class="wrapper__product-add-to-basket-btn" data-product="{{id}}">
                        <strong>{{../global_add_to_basket}}</strong>
                    </button>
                {{/if}}
            </div>
        {{/each}}
    {{else}}
        <h2>{{global_no_products}} :(</h2>
    {{/if}}
</div>
<button class="move-up-button">&#8593;</button>
