{{#if articles}}
    <div class="wrapper__articles">
        {{#each articles}}
            <div class="wrapper__articles-item">
                <div class="wrapper__articles-item-name">{{../global_article_name}}: {{this.name}}</div>
                <div class="wrapper__articles-item-theme">{{../global_theme}}: {{this.theme}}</div>
                <div class="wrapper__articles-item-authors">{{../global_authors}}: {{this.authors}}</div>
                <div class="wrapper__articles-item-date">{{../global_date_publication}}: {{this.created_at}}</div>
                <a href="/articles/{{this.filename}}" class="wrapper__articles-item-read-article-link">
                    <button>{{../global_read_article}}</button>
                </a>
            </div>
        {{/each}}
    </div>

    {{#if loadMore}}
        <button class="load-more-button load-more-articles-btn">Завантажити більше</button>
    {{/if}}
{{else}}
    <h2 class="no-articles-logo">Статтей поки що немає</h2>
{{/if}}
