<form action="" class="auth__form" id="chat-auth-form">
    <h3 class="auth__form-logo">{{global_auth}}</h3>
    <input type="text" placeholder="{{global_username}}:"  id="chat-auth-username">
    <input type="password" placeholder="{{global_password}}:" id="chat-auth-password">
    <button type="submit">{{global_entry}}</button>
</form>
<p class="auth__form-description">{{support_chat_auth_page_description}}</p>
<a href="/support/signup" class="auth__form-link-signup">{{global_create_account}}</a>


