<div class="wrapper__chat" data-idLastMessage="{{idLastMessage}}">
    {{#if loadMore}}
        <button id="load-more-messages">{{support_chat_page_load_more_logo}}</button>
    {{/if}}
    <div class="wrapper__chat-messages">
        {{#each messages}}
            {{#if this.admin}}
                <div class="wrapper__chat-messages-message">
                  <span class="wrapper__chat-messages-message-text">{{this.message}}</span>
                  <span class="wrapper__chat-messages-message-date">{{this.date}}</span>
                </div>
            {{else}}
                <div class="wrapper__chat-messages-message-sender">
                  <span class="wrapper__chat-messages-message-text">{{this.message}}</span>
                  <span class="wrapper__chat-messages-message-date">{{this.date}}</span>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>
<div class="wrapper__chat-send-message">
    <form class="wrapper__chat-send-message-form" id="send-message-form">
        <input type="text" placeholder="{{global_message}}:">
        <button type="submit">{{global_send}}</button>
    </form>
</div>
