<form class="auth__form" id="chat-signup-form">
    <h3 class="auth__form-logo">{{global_signup}}</h3>
    <input type="text" placeholder="{{global_username}}:" id="chat-signup-username">
    <input type="password" placeholder="{{global_password}}:" id="chat-signup-password">
    <button type="submit">{{global_create_account}}</button>
</form>
<p class="auth__form-description">{{support_chat_signup_page_have_account}}</p>
<a href="/support/auth" class="auth__form-link-signup">{{support_chat_signup_page_auth}}</a>
