<div class="wrapper__chat" data-chatId="{{chatId}}" data-idLastMessage="{{idLastMessage}}">
    {{#if loadMore}}
        <button id="load-more-messages">Завантажити більш давні повідомлення</button>
    {{/if}}
    <div class="wrapper__chat-messages">
        {{#each messages}}
            {{#if this.admin}}
                <div class="wrapper__chat-messages-message-sender">
                  <span class="wrapper__chat-messages-message-text">{{this.message}}</span>
                  <span class="wrapper__chat-messages-message-date">{{this.date}}</span>
                </div>
            {{else}}
                <div class="wrapper__chat-messages-message">
                  <span class="wrapper__chat-messages-message-text">{{this.message}}</span>
                  <span class="wrapper__chat-messages-message-date">{{this.date}}</span>
                </div>
            {{/if}}
        {{/each}}
    </div>

    <div class="wrapper__chat-send-message">
        <form class="wrapper__chat-send-message-form" id="send-message-form">
            <input type="text" placeholder="Повідомлення:">
            <button type="submit">Відправити</button>
        </form>
    </div>
</div>
