<div class="wrapper__publication-item">
  {{#each this.files}}
    {{#if (equals this.type "video")}}
      <video controls class="slider-item" preload="metadata">
        <source src="/gallery/{{this.filename}}">
      </video>
    {{/if}}
    {{#if (equals this.type "image")}}
      <img src="/gallery/{{this.filename}}" class="slider-item">
    {{/if}}
  {{/each}}
  {{#if (equals this.files.length 1)}}

  {{else}}
    <div class="wrapper__arrows">
      <button class="arrow-left">&#8592;</button>
      <button class="arrow-right">&#8594;</button>
    </div>
  {{/if}}
  <h2>{{this.name}}</h2>
  <p>{{this.theme}}</p>
  <button id="show-description-btn">{{global_show_description}}</button>
  <div id="item-description">
    {{this.description}}
  </div>
</div>
