<a href="/admin/products">
    <button class="back-button">Назад</button>
</a>

<div class="wrapper__selected">
    <div class="wrapper__selected-images">

    </div>
    <div class="wrapper__selected-btn">
        <button class="wrapper__selected-left">&#8592;</button>
        <button class="wrapper__selected-right">&#8594;</button>
    </div>
</div>
<form class="upload__product-form" id="{{product.id}}">
    <input type="file" multiple name="files" id="files__input">
    <input type="number" step="1" name="num" placeholder="Порядковий номер:" value="{{product.num}}">
    <input type="text" placeholder="Назва товару:" name="name" value="{{this.product.name}}" required>
    <input type="text" placeholder="Опис товару:" name="description" value="{{this.product.description}}">
    <input type="number" step="0.01" placeholder="Ціна товару:" value="{{this.product.price}}" name="price">

    <label for="translate-language" class="mt-20">Мова перекладу назви:</label>
    <select id="translate-language">
      <option value="en" selected>Англійська</option>
    </select>
    <input type="text" placeholder="Переклад назви:" value="{{translateTitle}}">

    <label for="translate-language-description" class="mt-20">Мова перекладу опису:</label>
    <select id="translate-language-description">
      <option value="en">Англійська</option>
    </select>
    <input type="text" placeholder="Переклад опису:" value="{{translateDescription}}">

    <select name="type" id="select-upload-product-form" data-type="{{product.type}}">
        <option value="Сережки">Сережки</option>
        <option value="Підвіски">Підвіски</option>
        <option value="Дукачі">Дукачі</option>
        <option value="Браслети">Браслети</option>
        <option value="Комплекти">Комплекти</option>
        <option value="Інше">Інше</option>
    </select>
    <label for="available" style="margin-top: 50px">Є в наявності ?</label>
    {{#if product.available}}
        <input type="checkbox" id="available" style="margin: 0; width: min-content;" name="available" checked>
    {{else}}
        <input type="checkbox" id="available" style="margin: 0; width: min-content;" name="available">
    {{/if}}
    <button type="submit">Оновити товар</button>
</form>
