<div class="wrapper__product">
  <div class="wrapper__product-images">
    {{#each images}}
      <img src="/images/{{this}}" alt="Зображення" class="wrapper__product-images-image">
    {{/each}}
    <button class="arrow-left">
      <span>&#8592;</span>
    </button>
    <button class="arrow-right">
      <span>&#8594;</span>
    </button>
  </div>
  <div class="wrapper__product-content">
    <h2 class="wrapper__product-content-item">{{global_price}}: {{price}} грн</h2>
    <h2 class="wrapper__product-content-item">{{global_product_type}}: {{type}}</h2>
    {{#if available}}
      <h2 class="wrapper__product-content-item">{{global_available}}</h2>
    {{else}}
      <h2 class="wrapper__product-content-item">{{global_not_available}}</h2>
    {{/if}}
    {{#if inBasket}}
      <button class="wrapper__product-add-to-basket-btn" style="background-color: #eee; color: #000; cursor: initial;">
        <strong>{{global_already_in_basket}}</strong>
      </button>
    {{else}}
      <button class="wrapper__product-add-to-basket-btn" id="add-to-basket-btn" data-product="{{id}}">
        <strong>{{global_add_to_basket}}</strong>
      </button>
      <button class="wrapper__product-buy-now-btn" id="buy-now-btn" data-product="{{id}}">
        <strong>Придбати зараз</strong>
      </button>
    {{/if}}
  </div>
</div>
<div class="wrapper__sub-images">
  {{#each images}}
    <div class="wrapper__sub-images-item">
      <img src="/images/{{this}}" alt="Зображення">
    </div>
  {{/each}}
</div>

{{#if description}}
  <div class="wrapper__description">
      <div class="wrapper__product-description">
        {{#if translateDescription}}
          {{translateDescription}}
        {{else}}
          {{description}}
        {{/if}}
      </div>
  </div>
{{/if}}

