<div class="wrapper__product">
    <div class="wrapper__product-images">
        {{#each images}}
            <img src="/images/{{this}}" alt="Зображення" class="wrapper__product-images-image">
        {{/each}}
        <button class="arrow-left">&#8592;</button>
        <button class="arrow-right">&#8594;</button>
    </div>
    <div class="wrapper__product-content">
        <h2 class="wrapper__product-content-item">Ціна: {{price}} грн</h2>
        <h2 class="wrapper__product-content-item">Тип товару: {{type}}</h2>
        {{#if available}}
            <h2 class="wrapper__product-content-item">Є в наявності</h2>
        {{else}}
            <h2 class="wrapper__product-content-item">Немає наявності</h2>
        {{/if}}
        {{#if description}}
            <button class="wrapper__product-description-btn">Показати опис товару</button>
            <div class="wrapper__product-description">
                {{description}}
            </div>
        {{/if}}
            {{#if inBasket}}
                <button class="wrapper__product-add-to-basket-btn" style="background-color: #fff; color: #000;">
                    <strong>Вже в кошику</strong>
                </button>
            {{else}}
                <button class="wrapper__product-add-to-basket-btn" id="add-to-basket-btn" data-product="{{id}}">
                    <strong>Додати до кошика</strong>
                </button>
            {{/if}}
    </div>
</div>
